.display-store {
  margin-bottom: 10px;
}

.display-store__button {
  margin-right: 10px;
}

.display-store__button--last {
  margin-right: 0;
}

.display-store__content {
  margin: 10px;
  padding: 10px;
  background: #f0f0f0;
}
