.header {
  font-weight: bold;
  margin-bottom: 15px;
}

.header--size1 {
  font-size: 24px;
}

.header--size2 {
  font-size: 18px;
}

.header--size3 {
  font-size: 16px;
}

.header--size4 {
  font-size: 14px;
}

.header--size5 {
  font-size: 12px;
}

.header--size6 {
  font-size: 10px;
}
